<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/base :: common_head(~{::title}, ~{::style}, ~{::link}, ~{::script})">
    <title th:text="#{page.email.validated}">이메일 인증 완료</title>

    <link>

    <style>

    </style>
    <script></script>
</head>
<body class="bg-light">
<header th:replace="layout/base :: common_header"></header>

<div class="py-5 text-center" th:if="${error}">
    <p class="lead">공모아 이메일 확인</p>
    <div class="alert alert-danger" role="alert">
        이메일 확인 링크가 정확하지 않습니다.
    </div>
</div>

<div class="py-5 text-center" th:unless="${error}">
    <p class="lead">이메일 검증 완료</p>
    <h2>
        회원가입이 완료되었습니다.
        <span th:text="${user.name}">이름</span>님의 가입을 축하합니다.
    </h2>
    <small class="text-info">이제부터 공모아의 서비스를 정상적으로 이용할 수 있습니다.</small>
</div>

<footer th:replace="layout/base :: common_footer"></footer>
</body>
</html>