
<!DOCTYPE html>
<html lang="en">
<head th:replace="layout/base :: common_head(~{::title}, ~{::style}, ~{::link})">
    <title th:text="#{page.contests}">공모전 목록</title>
    <style>
    </style>
    <link>
</head>

<body>

<header th:replace="layout/base :: common_header"></header>

<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light" th:text="#{page.createNotification}">공고 생성</h1>
                <p class="lead text-muted">새로운 팀 공고를 생성합니다.</p>
                <button class="btn btn-outline-dark flex-shrink-0"
                        th:onclick="|location.href='@{/contests/__${contestId}__}/notifications'|"
                        th:text="#{page.notifications}"
                        type="button">팀 공고 현황
                </button>
            </div>
        </div>
    </section>

    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <form class="needs-validation" th:action th:object="${form}" method="post">
                    <div class="col-12" style="margin-bottom: 10px">
                        <label for="itemName"
                               th:text="#{label.notification.title}"
                               class="form-label">제목</label>
                        <input type="text" class="form-control" id="itemName"
                               th:field="*{title}" th:errorclass="field-error"
                               placeholder="제목을 입력하세요." required>
                        <div class="invalid-feedback">
                            공고의 제목을 입력해주세요.
                        </div>
                    </div>

                    <div class="col-12">
                        <label for="description"
                               th:text="#{label.notification.description}"
                               class="form-label">제목</label>
                        <textarea type="text" rows="5" class="form-control" id="description"
                               th:field="*{description}" th:errorclass="field-error"
                                  placeholder="상세 정보를 입력하세요." required ></textarea>
                        <div class="invalid-feedback">
                            공고의 상세 정보를 입력해주세요.
                        </div>
                    </div>

                    <br/>
                    <div class="d-flex">
                        <button class="btn btn-outline-primary flex-shrink-0"
                                th:text="#{button.createNotification}"
                                type="submit" style="margin-right: 5px">목록으로
                        </button>
<!--                        <button class="btn btn-outline-dark flex-shrink-0"-->
<!--                                th:onclick="|location.href='@{/contests/{contestId}/notifications(contestId=${contest.id})}'|"-->
<!--                                type="button" th:text="#{button.return}">돌아가기</button>-->
                    </div>

                </form>
            </div>
        </div>
    </section>
</main>
<!-- Footer-->
    <footer th:replace="layout/base :: common_footer"></footer>
</body>
</html>
