
<!doctype html>
<html lang="en">
<head th:replace="layout/base :: common_head(~{::title}, ~{::style}, ~{::link})">
    <title th:text="#{page.notification}">팀 공고 목록</title>

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>

    <link>
</head>
<body>

<header th:replace="layout/base :: common_header"></header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light" th:text="#{page.notifications}">팀 공고 현황</h1>
                <div class="lead text-muted" th:text="${contest.title}">공모전 이름</div>
                <div class="lead text-muted">공모전에 대한 모집 공고를 확인합니다.</div>
                <br>
                <p>
                    <button class="btn btn-outline-primary flex-shrink-0 "
                            th:onclick="|location.href='@{/contests/__${contestId}__/notifications/create}'|"
                            th:text="#{page.createNotification}"
                            style="margin-right: 5px"
                            type="button">공고 생성하기
                    </button>
                    <button class="btn btn-outline-dark flex-shrink-0"
                            th:onclick="|location.href='@{/contests/__${contestId}__}'|"
                            th:text="#{page.contest}"
                            type="button">공모전 상세
                    </button>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col-md-6" th:each="notification : ${notifications}">
                    <a th:href="@{|/contests/${contest.id}/notifications/${notification.id}|}">
                        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="mb-0" th:text="${notification.title}">공고 제목</h3>
                                <div class="mb-1 text-muted" th:text="|#{label.notification.isRecruiting}: ${notification.isRecruiting}|">Nov 12</div>
<!--                                <p class="card-text mb-auto" th:text="${notification.description}">공모전 상세 설명</p>-->
                                <br>
                                <div class="card-text mb-auto" th:text="|#{label.notification.registrations}: ${#lists.size(notification.registrations)}명|">등록 현황</div>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                                <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                            </div>
                        </div>
                    </a>
                </div>




                <div class="col" th:each="contest : ${contests}">
                    <a th:href="@{|/contests/${contest.id}|}">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

                            <div class="card-body">
                                <p class="card-text" th:text="${contest.title}"  th:href="@{|/contests/${contest.id}|}">공모전 제목</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

</main>

<footer th:replace="layout/base :: common_footer"></footer>
</body>
</html>
